<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"dimensions":{"minHeight":"100vh"}},"backgroundColor":"custom-color-1","layout":{"type":"default"}} -->
<div class="wp-block-group has-custom-color-1-background-color has-background" style="min-height:100vh;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|70","right":"var:preset|spacing|70"}}},"textColor":"white","fontFamily":"figtree","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-white-color has-text-color has-link-color has-figtree-font-family" style="padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)"><!-- wp:query-title {"type":"archive"} /-->

<!-- wp:query {"queryId":37,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true,"parents":[],"format":[]},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"var:preset|spacing|40","right":"var:preset|spacing|40"}},"border":{"radius":"10px"}},"backgroundColor":"custom-color-9","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
    <div class="wp-block-group has-custom-color-9-background-color has-background" style="border-radius:10px;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"customOverlayColor":"#FFF","isUserOverlayColor":true,"minHeight":18,"minHeightUnit":"rem","contentPosition":"bottom left","isDark":false,"style":{"border":{"radius":"6px"}},"layout":{"type":"default"}} -->
    <div class="wp-block-cover is-light has-custom-content-position is-position-bottom-left" style="border-radius:6px;min-height:18rem"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-10 has-background-dim" style="background-color:#FFF"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"border":{"width":"1px","color":"#121212","radius":"4px"},"color":{"background":"#a3a29e36"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-border-color has-background" style="border-color:#121212;border-width:1px;border-radius:4px;background-color:#a3a29e36;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)"><!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-5"}}},"typography":{"textTransform":"uppercase"}},"textColor":"custom-color-5","fontSize":"small","fontFamily":"figtree"} /--></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-5"}}},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"custom-color-5","fontSize":"medium","fontFamily":"figtree"} /-->
    
    <!-- wp:post-excerpt {"moreText":"","excerptLength":20,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-7"}}}},"textColor":"custom-color-7","fontSize":"small"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|30","right":"var:preset|spacing|30"}},"border":{"radius":"50%","width":"1px"}},"backgroundColor":"custom-color-8","borderColor":"custom-color-1","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-border-color has-custom-color-1-border-color has-custom-color-8-background-color has-background" style="border-width:1px;border-radius:50%;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--30)"><!-- wp:paragraph {"align":"left","placeholder":"Write title…","style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-7"}}}},"textColor":"custom-color-7","fontSize":"small"} -->
    <p class="has-text-align-left has-custom-color-7-color has-text-color has-link-color has-small-font-size">⇨</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:read-more {"content":"Read more","style":{"typography":{"textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|custom-color-5"}}}},"textColor":"custom-color-5","fontSize":"small","fontFamily":"roboto-mono"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    <!-- /wp:post-template --></div>
<!-- /wp:query -->

<!-- wp:archives /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group -->